@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fasthand&family=Poppins&display=swap');
:root{

    --fasthand-font:'Fasthand', cursive;
    --poppins-font:'Poppins', sans-serif;
    --silver:silver;
    --white:white;
    --black:#000;
    --gradient-1:linear-gradient(90deg, rgba(7, 9, 27, 0.50) 0%, rgba(61, 105, 196, 0.40) 100%);
    --gradient-2:linear-gradient(90deg, rgba(46, 102, 161, 0.40) 0%, rgba(80, 149, 208, 0.66) 52.54%, rgba(255, 255, 255, 0.40) 100%);
    --darkslate-blue:darkslateblue;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 body{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background: var(--black);
}/*
.sidebar_container{
    position: fixed;
    scroll-behavior: smooth;
    width: auto;
} */
.stuvibe_logo_2{
    position: relative;
    top: 20px;
    left: 40px;
}
.stuvibe_logo_2 p{
    width: 133px;
    height: 85px;
    flex-shrink: 0;
    color: #FFF;
    font-family: var(--fasthand-font);
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 84px */
}

.feature_leftsidebar_2 p{
    color: #FFF;
    font-family: var(--poppins-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 18px */
}
.feature_leftsidebar_2{
    display: flex;
    align-items: center;
    gap: 25px;
    display: flex;
    width: 149px;
    align-items: center;
    gap: 25px;
}
.leftsidebar_2{
    position: relative;
    width: 233px;
    height: auto;
    flex-shrink: 0;
    background: #000;
}

.leftsidebar_2_container{
    width: 100%;
    height: 100vh;
    background-color: #000;
    /* position: fixed;
    overflow-y: auto; */
    left: 0px;  
    top: 0px;
}
.leftsidebar_2_features{
    display: inline-flex;
    height: auto;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    flex-shrink: 0;
    margin: 50px 0px;
}

.leftsidebar_2_features::-webkit-scrollbar{
    display: block;
    width: 5px;
    height: 5px;
    background-color: #1a1a1a;
    position: relative;
    right: 0px;
}
.leftsidebar_2_container::-webkit-scrollbar,.leftsidebar_1_container::-webkit-scrollbar{
    display: block  ;
    width: 5px;
    background-color: #1a1a1a;
    position: relative;
    right: 0px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.692); 
    border-radius: 5px;
}
.leftsidebar_1{
    display: block;
}
.leftsidebar_1{
    position: relative;
    width: 100px;
    height: 100vh;
    flex-shrink: 0;
    background: #000;
    
}
.leftsidebar_1_container{
    width: 100px;
    height: 100vh;
    overflow-y: auto;
    left: 0px;
    top: 0px;
    border-right: 1px solid #1a1a1a;

}
.stuvibe_logo_1{
    width: 27.388px;
    height: 16.364px;
    flex-shrink: 0;
    position: relative;
    top: 40px;
    left: 36px;
}
.leftsidebar_1_features{
    width: 100%;
    display: inline-flex;
    overflow-y: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin: 100px 0px;
}
.leftsidebar{
    position: fixed;
}

